Repository rancher-sandbox/rancher-desktop, pull requests merged in 2021-08, with the labels that each got.

#430 Lima: bump to 0.5.2
  scripts/download/lima.mjs
  src/assets/lima-config.yaml
Labels: lima

#437 Lima: Assign port dynamically
  src/assets/lima-config.yaml
  src/k8s-engine/lima.ts
Labels: enhancement, lima, macos

#440 Kim: Check for the correct endpoint
  src/assets/lima-config.yaml
  src/k8s-engine/kim.ts
Labels: bug, macos, lima

#465 alpine-lima repo has moved from rancher-sandbox to lima-vm org
  scripts/download/lima.mjs
Labels: lima

#479 Lima: fix duplicated mounts in config
  src/k8s-engine/k3sHelper.ts
  src/k8s-engine/lima.ts
Labels: bug, lima

#474 Bump to lima 0.6.0 plus lima PR#149
  scripts/download/lima.mjs
Labels: lima

#513 Troubleshooting: Add button to open logs.
  background.ts
  src/pages/Troubleshooting.vue
  src/utils/logging.ts
Labels: enhancement

#554 Bump lima-and-qemu to v1.3
  scripts/download/lima.mjs
Labels: bug, lima
