Repository rancher-sandbox/rancher-desktop, pull requests merged in 2021-07, with the labels that each got.

#418 Bump lima-and-qemu from 0.5.0 to 0.5.1 (internal snapshot)
  scripts/download/lima.mjs
Labels: lima

#414 WSL: Add kubeconfig integration
  README.md
  background.ts
  package.json
  scripts/lib/build-utils.mjs
  scripts/windows-setup.ps1
  src/components/Integration.vue
  src/k8s-engine/hyperkit.ts
  src/k8s-engine/k3sHelper.ts
  src/k8s-engine/k8s.ts
  src/k8s-engine/notimplemented.js
  src/k8s-engine/wsl.ts
  src/pages/K8s.vue
  src/utils/__tests__/childProcess.spec.ts
  src/utils/childProcess.ts
  src/wsl-helper/cmd/kubeconfig.go
  src/wsl-helper/cmd/root.go
  src/wsl-helper/go.mod
  src/wsl-helper/go.sum
  src/wsl-helper/main.go
Labels: windows

#405 Code Signing on Windows, Try 2
  .github/workflows/package.yaml
  docs/development/README.md
  docs/development/signing.md
  electron-builder.yml
  package-lock.json
  package.json
  scripts/lib/sign-win32.ts
  scripts/sign.ts
  scripts/ts-wrapper.js
Labels: enhancement

#415 Styles: Fix invisible versions on Windows dark mode
  src/assets/styles/app.scss
  src/assets/styles/rancher-desktop.scss
Labels: windows

#433 Lima: exclude state directory from Time Machine
  src/k8s-engine/lima.ts
Labels: lima
