Repository rancher-sandbox/rancher-desktop, pull requests merged in 2023-10, with the labels that each got.

#5628 Fix global timeouts on Linux when running e2e tests.
  e2e/config/playwright-config.ts
  screenshots/playwright-config.ts
Labels: component/e2e

#4528 Snapshots cards and creation page
  e2e/rdctl.e2e.spec.ts
  pkg/rancher-desktop/assets/translations/en-us.yaml
  pkg/rancher-desktop/components/SnapshotCard.vue
  pkg/rancher-desktop/components/Snapshots.vue
  pkg/rancher-desktop/components/SnapshotsButtonCreate.vue
  pkg/rancher-desktop/main/commandServer/httpCommandServer.ts
  pkg/rancher-desktop/main/snapshots/types.ts
  pkg/rancher-desktop/nuxt/store.js
  pkg/rancher-desktop/pages/PortForwarding.vue
  pkg/rancher-desktop/pages/Snapshots.vue
  pkg/rancher-desktop/pages/snapshots/create.vue
  pkg/rancher-desktop/router.js
  pkg/rancher-desktop/store/snapshots.ts
  pkg/rancher-desktop/typings/store.d.ts
  pkg/rancher-desktop/window/constants.ts
Labels: component/ui

#5814 Use passed `wsl.WSL` instance in `SnapshotterImpl` for unregistering distros rather than `factoryreset.UnregisterWSL`
  src/go/rdctl/pkg/snapshot/snapshotter_windows.go
Labels: kind/quality, component/rdctl, area/snapshots
