Repository rancher-sandbox/rancher-desktop, pull requests merged in 2023-01, with the labels that each got.

#3676 Preferences, Help Shortcuts
  background.ts
  pkg/rancher-desktop/components/Help.vue
  pkg/rancher-desktop/components/Preferences/BodyApplication.vue
  pkg/rancher-desktop/components/Preferences/BodyContainerEngine.vue
  pkg/rancher-desktop/components/Preferences/Help.vue
  pkg/rancher-desktop/components/Preferences/ModalBody.vue
  pkg/rancher-desktop/components/Preferences/ModalNav.vue
  pkg/rancher-desktop/config/help.ts
  pkg/rancher-desktop/store/help.ts
  pkg/rancher-desktop/typings/electron-ipc.d.ts
  pkg/rancher-desktop/typings/store.d.ts
  pkg/rancher-desktop/window/preferences.ts
Labels: kind/enhancement, area/preferences

#2919 Diagnostics: Add a check for darwin version.
  pkg/rancher-desktop/main/diagnostics/diagnostics.ts
  pkg/rancher-desktop/main/diagnostics/limaDarwin.ts
  pkg/rancher-desktop/main/diagnostics/types.ts
Labels: area/diagnostics

#3804 Tray menu, add main window entry
  pkg/rancher-desktop/main/mainmenu.ts
  pkg/rancher-desktop/main/tray.ts
  pkg/rancher-desktop/window/index.ts
Labels: component/ui

#3789 Preferences, add new settings
  e2e/pages/preferences/application.ts
  e2e/preferences.e2e.spec.ts
  e2e/rdctl.e2e.spec.ts
  pkg/rancher-desktop/assets/specs/command-api.yaml
  pkg/rancher-desktop/assets/translations/en-us.yaml
  pkg/rancher-desktop/components/Preferences/ApplicationBehavior.vue
  pkg/rancher-desktop/components/Preferences/ApplicationGeneral.vue
  pkg/rancher-desktop/components/Preferences/BodyApplication.vue
  pkg/rancher-desktop/config/__tests__/settings.spec.ts
  pkg/rancher-desktop/config/help.ts
  pkg/rancher-desktop/config/settings.ts
  pkg/rancher-desktop/config/transientSettings.ts
  pkg/rancher-desktop/main/commandServer/settingsValidator.ts
  pkg/rancher-desktop/window/preferences.ts
Labels: area/preferences
